<div class="row">
  <div class="col-12">
    <input class="form-control" [(ngModel)]="myText"
      placeholder="Enter text" [disabled]="disabledText"/>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="toggleDisable()">
        Toggle Disable
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="d-grid">
      <button class="btn btn-success" (click)="resetText()">
        Reset Text
      </button>
    </div>
  </div>
</div>
